In [2]:
import pandas as pd
import os

In [ ]:
df1 = pd.read_csv ("climate_mood_data.csv")
df2 = pd.read_csv ("stockholm_climate_mental_health.csv")
df3 = pd.read_csv ("seasonal_affective_disorder_mayo.csv")
df4 = pd.read_csv ("seasonal_affective_disorder_nimh.csv")
df5 = pd.read_csv ("guardian_environment_sentiment.csv")
df6 = pd.read_csv ("bbc_headlines.csv")
df7 = pd.read_csv ("weather_sentiment.csv")
df8 = pd.read_csv ("climate_mood_data_Barcelona.csv")

In [ ]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)
print(df6.column#sobrghberhtyent4nmerneynergbnynprint(df8.columns)

Index(['url', 'paragraph', 'cities', 'total_key_terms', 'climate',
       'mental_health', 'population', 'methodology', 'sentiment_score'],
      dtype='object')
Index(['city', 'study', 'variable', 'value', 'season', 'effect_size', 'notes'], dtype='object')
Index(['title', 'url', 'section', 'content'], dtype='object')
Index(['title', 'url', 'section', 'content'], dtype='object')
Index(['title', 'link', 'sentiment'], dtype='object')
Index(['title', 'link'], dtype='object')
Index(['index', '_unit_id', '_canary', '_unit_state', '_trusted_judgments',
       '_last_judgment_at',
       'what_emotion_does_the_author_express_specifically_about_the_weather',
       'what_emotion_does_the_author_express_specifically_about_the_weather:confidence',
       'gold_answer', 'tweet_id', 'tweet_text'],
      dtype='object')

In [7]:

# List of cities for focused analysis
target_cities = ['Barcelona', 'Stockholm']

# Function to normalize city column in each dataframe
def normalize_city_column(df):
    # Find city-related column
    city_cols = [col for col in df.columns if col.lower() in ['city', 'cities']]
    if city_cols:
        col = city_cols[0]
        # Create normalized city column
        def map_city(x):
            if pd.isna(x):
                return pd.NA
            elif x in target_cities:
                return x
            else:
                return 'Other'
        df['city_normalized'] = df[col].apply(map_city)
    else:
        # If no city column, set as NA
        df['city_normalized'] = pd.NA
    return df

dfs = [df1, df2, df3, df4, df5, df6, df7]

# Standardize similar column names (e.g. url/link)
dfs[4] = dfs[4].rename(columns={'link': 'url'})
dfs[5] = dfs[5].rename(columns={'link': 'url'})

# Apply city normalization
dfs_norm = [normalize_city_column(df) for df in dfs]

# Collect all unique columns from all dataframes
all_columns = set()
for df in dfs_norm:
    all_columns.update(df.columns)
all_columns = list(all_columns)

# Add missing columns to each dataframe and reorder columns for concatenation
dfs_uniform = []
for df in dfs_norm:
    for col in all_columns:
        if col not in df.columns:
            df[col] = pd.NA
    dfs_uniform.append(df[all_columns])

In [8]:
# Concatenate all dataframes vertically
final_df = pd.concat(dfs_uniform, ignore_index=True)

/var/folders/bp/q0jpdzq126j54kx_lzjc4dcm0000gn/T/ipykernel_75237/4253737663.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat(dfs_uniform, ignore_index=True)

In [9]:
# Now you have a combined dataframe with all data and a normalized city column for filtering and grouping
print(final_df['city_normalized'].value_counts(dropna=False))

city_normalized
NaN          1152
<NA>           81
Other          19
Stockholm       5
Name: count, dtype: int64

In [10]:
final_df

,what_emotion_does_the_author_express_specifically_about_the_weather:confidence,variable,what_emotion_does_the_author_express_specifically_about_the_weather,cities,season,study,sentiment,_unit_state,effect_size,tweet_id,...,notes,_unit_id,city_normalized,_canary,value,city,_trusted_judgments,methodology,section,total_key_terms
0,NaN,NaN,NaN,['Stockholm'],NaN,NaN,NaN,NaN,NaN,<NA>,...,NaN,<NA>,Other,NaN,NaN,NaN,<NA>,0,NaN,14
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,...,NaN,<NA>,<NA>,NaN,NaN,NaN,<NA>,0,NaN,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,...,NaN,<NA>,<NA>,NaN,NaN,NaN,<NA>,0,NaN,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,...,NaN,<NA>,<NA>,NaN,NaN,NaN,<NA>,0,NaN,2
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,...,NaN,<NA>,<NA>,NaN,NaN,NaN,<NA>,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,0.8747,NaN,Positive,NaN,NaN,NaN,NaN,finalized,NaN,82676486,...,NaN,314961375,NaN,NaN,NaN,NaN,20,<NA>,NaN,<NA>
1253,0.7509,NaN,Tweet not related to weather condition,NaN,NaN,NaN,NaN,finalized,NaN,84311591,...,NaN,314961376,NaN,NaN,NaN,NaN,20,<NA>,NaN,<NA>
1254,0.5128,NaN,Negative,NaN,NaN,NaN,NaN,finalized,NaN,84312565,...,NaN,314961377,NaN,NaN,NaN,NaN,20,<NA>,NaN,<NA>
1255,0.7472,NaN,Negative,NaN,NaN,NaN,NaN,finalized,NaN,84033089,...,NaN,314961378,NaN,NaN,NaN,NaN,20,<NA>,NaN,<NA>
1256,0.7345,NaN,Tweet not related to weather condition,NaN,NaN,NaN,NaN,finalized,NaN,84304871,...,NaN,314961379,NaN,NaN,NaN,NaN,20,<NA>,NaN,<NA>

In [11]:
df_cities = final_df[final_df['city_normalized'].isin(['Barcelona', 'Stockholm'])]

In [12]:
df_cities

,what_emotion_does_the_author_express_specifically_about_the_weather:confidence,variable,what_emotion_does_the_author_express_specifically_about_the_weather,cities,season,study,sentiment,_unit_state,effect_size,tweet_id,...,notes,_unit_id,city_normalized,_canary,value,city,_trusted_judgments,methodology,section,total_key_terms
100,NaN,Solar radiation,NaN,NaN,Winter,CLIMENT Project,NaN,NaN,Increased sickness absence (qualitative),<NA>,...,Less sunlight linked to reduced well-being and...,<NA>,Stockholm,NaN,↓ in winter,Stockholm,<NA>,<NA>,NaN,<NA>
101,NaN,Rainfall,NaN,NaN,Fall/Winter,CLIMENT Project,NaN,NaN,Qualitative link to behavioral effects,<NA>,...,High rainfall and low daylight associated with...,<NA>,Stockholm,NaN,↑ in fall/winter,Stockholm,<NA>,<NA>,NaN,<NA>
102,NaN,Temperature,NaN,NaN,Winter,CLIMENT Project,NaN,NaN,Indirect effects on well-being,<NA>,...,Cold temperatures combined with less daylight ...,<NA>,Stockholm,NaN,↓ in winter,Stockholm,<NA>,<NA>,NaN,<NA>
103,NaN,NDVI (Green exposure),NaN,NaN,Spring/Summer,Green exposure during COVID-19,NaN,NaN,"↓ Depression, anxiety; ↑ Vitality",<NA>,...,Participants with higher greenspace exposure r...,<NA>,Stockholm,NaN,High NDVI,Stockholm,<NA>,<NA>,NaN,<NA>
104,NaN,Distance to green,NaN,NaN,Spring/Summer,Green exposure during COVID-19,NaN,NaN,Stronger positive effect,<NA>,...,Closer green areas had stronger associations w...,<NA>,Stockholm,NaN,<500m,Stockholm,<NA>,<NA>,NaN,<NA>

In [13]:
print(df_cities.dtypes)

what_emotion_does_the_author_express_specifically_about_the_weather:confidence    float64
variable                                                                           object
what_emotion_does_the_author_express_specifically_about_the_weather                object
cities                                                                             object
season                                                                             object
study                                                                              object
sentiment                                                                          object
_unit_state                                                                        object
effect_size                                                                        object
tweet_id                                                                           object
climate                                                                            object
paragraph                                                                          object
url                                                                                object
index                                                                              object
title                                                                              object
_last_judgment_at                                                                  object
gold_answer                                                                        object
sentiment_score                                                                   float64
tweet_text                                                                         object
population                                                                         object
content                                                                            object
mental_health                                                                      object
notes                                                                              object
_unit_id                                                                           object
city_normalized                                                                    object
_canary                                                                            object
value                                                                              object
city                                                                               object
_trusted_judgments                                                                 object
methodology                                                                        object
section                                                                            object
total_key_terms                                                                    object
dtype: object